# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-yaml
          - id: check-toml
          - id: fix-encoding-pragma
            args: [--remove]
          - id: end-of-file-fixer
          - id: trailing-whitespace
            args: [--markdown-linebreak-ext=md]
          - id: mixed-line-ending
            args: ["--fix=lf"]
          - id: no-commit-to-branch
          - id: check-added-large-files
            args: ["--maxkb=500"]

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.13.2
      hooks:
          - id: ruff
            name: lint
            alias: lint
          - id: ruff
            name: lint-fix
            alias: lint-fix
            args: [--fix]
            stages: [manual]
          - id: ruff-format
            name: format
            alias: format

    - repo: https://github.com/igorshubovych/markdownlint-cli
      rev: v0.45.0
      hooks:
          - id: markdownlint
          - id: markdownlint
            name: markdownlint-fix
            alias: markdownlint-fix
            args: ["--fix"]
            stages: [manual]

    - repo: https://github.com/pre-commit/pre-commit
      rev: v4.3.0
      hooks:
          - id: validate_manifest

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.18.2
      hooks:
          - id: mypy
            additional_dependencies: [pytest]

    - repo: https://gitlab.com/vojko.pribudic.foss/pre-commit-update
      rev: v0.8.0
      hooks:
          - id: pre-commit-update
            stages: [manual]

    - repo: https://github.com/python-poetry/poetry
      rev: 1.8.5
      hooks:
          - id: poetry-check
            stages: [push]
          - id: poetry-lock
            stages: [push]
          - id: poetry-export
            name: poetry-export
            stages: [manual]
            files: (pyproject\.toml|poetry\.lock)
            args:
                - "--without-hashes"
                - "-f"
                - "requirements.txt"
                - "-o"
                - "requirements.txt"
          - id: poetry-export
            name: poetry-export-dev
            alias: poetry-export-dev
            stages: [manual]
            files: (pyproject\.toml|poetry\.lock)
            args:
                - "--with"
                - "dev,lint,test"
                - "--without-hashes"
                - "-f"
                - "requirements.txt"
                - "-o"
                - "dev-requirements.txt"

    - repo: https://github.com/crate-ci/typos
      # https://github.com/crate-ci/typos/issues/390
      rev: v1.36.3
      hooks:
          - id: typos
            exclude: "(_typos.toml|.gitignore)"

    - repo: https://github.com/abravalheri/validate-pyproject
      rev: v0.24.1
      hooks:
          - id: validate-pyproject
            additional_dependencies:
                - "validate-pyproject[all]"
                - "validate-pyproject-schema-store"
