# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Typos Check

on:
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  run:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v3

      - name: Run
        uses: crate-ci/typos@master
        with:
          config: ./_typos.toml
