# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Typos Check

permissions:
    contents: read

on:
    push:
    pull_request:
        types: [opened, reopened]

jobs:
    run:
        name: Spell Check with Typos
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout Actions Repository
              uses: actions/checkout@v4

            - name: Run
              uses: crate-ci/typos@v1.32.0
              with:
                  config: ./_typos.toml
